<!DOCTYPE html>
<html lang="en">
<head>
    <title>MrBotChow</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, 
    initial-scale=1, maximum-scale=1, user-scalable=no">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/globalstylesheet.css' %}"/>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavLeft" aria-controls="navbarNavLeft" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavRight" aria-controls="navbarNavRight" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img class="meowLogo" src="{% static 'home/MeowLogoSmall.png' %}"></img>MrBotChow</a>
            <div class="collapse navbar-collapse" id="navbarNavLeft">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/catnip/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Catnip
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/catnip/">Leaderboard</a>
                          <a class="dropdown-item" href="/ranks/">Ranks</a>
                        </div>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/Throwdown/">Throwdown</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/goals/">Meow Milestones</a>
                    </li>

                </ul>
            </div>
            <dev>
                
                <ul class="navbar-nav">
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "social:begin" "twitch"%}">TwitchLogin</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/catnip/">{{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">catnip:{% for x in user_catnip %}{{ x.currentAmount }}{% endfor %}</a>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="/ZpX0Sea0wZy0EzUcH32m/">Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
    </nav>
    {% block contents %}
    {% endblock %}
    {% block body %}
    {% endblock %}
</body>
</html>